[submodule "external/Selene"]
	path = external/Selene
	url = /home/oleg/Downloads/Programming/Languages/Lua/Selene
[submodule "external/sol"]
	path = external/sol
	url = /home/oleg/Downloads/Programming/Languages/Lua/sol
[submodule "external/Catch"]
	path = external/Catch
	url = /home/okhryptul/Downloads/Programming/Languages/Lua/Catch
[submodule "external/boost_endian"]
	path = external/boost_endian
	url = https://github.com/boostorg/endian.git
[submodule "external/QHexEdit_Dax89"]
	path = external/QHexEdit_Dax89
	url = https://github.com/Dax89/QHexEdit
[submodule "external/qhexedit"]
	path = external/qhexedit
	url = https://github.com/amaterasu-/QHexEdit
[submodule "external/cppformat"]
	path = external/cppformat
	url = https://github.com/cppformat/cppformat
[submodule "external/boost.dll"]
	path = external/boost.dll
	url = https://github.com/apolukhin/boost.dll
